<!-- Components data binding deep dive -->

<div class="container">
  <app-cockpit
  (serverCreated)="onServerAdded($event)"
  (blueprintCreated)="onBluePrintAdded($event)"
  ></app-cockpit>

<div class="row">
  <div class="col-xs-12">
    <app-server-element
    *ngFor="let element of serverElements"
    [serverElement]="element">

  <!-- using ng-content -->
  <p>
    <strong *ngIf="element.type ==='addServer'">{{element.content}}</strong>
    <em *ngIf="element.type ==='bluePrintServer'">{{element.content}}</em>
  </p>

  </app-server-element>
  </div>
</div>

</div>
